.red {
 background-color: red;
}

.green {
 background-color: green;
}

.blue {
 background-color: red;
}

.orange {
 background-color: orange;
}

.ocean {
 background-color: ocean;
}

.purple {
 background-color: purple;
}

.lime {
 background-color: lime;
}